header {
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
}

.activeLink {
    color: #09e5e5;
}

.nonactiveLink {
    color: rgb(220, 220, 220);
}